body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

#header {
  margin-top: 20px;
}

#logo {
  width: 300px;
}

.intro {
  margin-top: 20px;
}

.button-img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  margin: 10px;
  border-radius: 50%; /* Make the images circular */
  border: 2px solid #ccc; /* Optional: Adds a border to the images */
  object-fit: cover; /* Ensures the image fits nicely inside the circle */
}

#tablesContainer {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
}

button:disabled {
  background-color: #ccc;
}

button:hover:not(:disabled) {
  background-color: #45a049; /* Darker shade of green for hover effect */
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  color: white;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

#paginationButtons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
